body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(135deg,purple,rgb(30, 176, 169),orange,yellow);
    
  }
  
  .quiz-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #results {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .question {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .answers label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  